<template>
  <div class="shadow-md m-2 pb-3 xl:m-4 xl:pb-5 text-center bg-white flex flex-col relative">
    <div class="bg-cover bg-center" :style="{height:'50%', backgroundImage: `url(${thumbnailUrls.lg})`}" />
    <div class="px-2 mt-2 mb-2 xl:px-5 xl:mt-5 xl:mb-2 text-primary-orange text-2xl 2xl:text-4xl font-semibold">
      {{ name }}
    </div>
    <div class="px-2 xl:px-5 my-2 text-secondary-gray text-xl 2xl:text-2xl">
      {{ votesCount }} {{ "upvote" | pluralize(votesCount) }}
    </div>
    <div class="px-2 xl:px-5 text-charcoal text-2xl 2xl:text-4xl">
      {{ tagline }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'PostCard',
  props: ['name', 'votesCount', 'tagline', 'thumbnailUrls']

}
</script>
