<template>
  <div>
    <div class="mb-4 mt-6 2xl:mt-16 2xl:mb-8 p-3">
      <select class="2xl:text-2xl" @change="visit">
        <option value="" :selected="dateIsActive(0)">Today</option>
        <option :selected="dateIsActive(1)" :value="1 | formattedDateAgo">Yesterday</option>
        <option v-for="index in 28" :key="`date-selector-${index}`"
                :value="index + 1 | formattedDateAgo"
                :selected="dateIsActive(index+1)">
          {{index + 1}} days ago
        </option>
      </select>
    </div>
    <div class="sm:flex justify-center container items-center mb-2 md:mb-4 2xl:mb-8">
      <div class="mx-4">
        <div class="text-primary-orange text-2xl 2xl:text-4xl font-bold leading">{{ counts.posts }}</div>
        <div class="leading-none uppercase text-xl text-secondary-gray 2xl:text-2xl font-semibold">{{ 'post' | pluralize(counts.posts)}}</div>
      </div>
      <div class="mx-4">
        <div class="text-primary-orange text-2xl 2xl:text-4xl font-bold leading">{{ counts.votes }}</div>
        <div class="leading-none uppercase text-xl text-secondary-gray 2xl:text-2xl font-semibold">{{ 'vote' | pluralize(counts.votes)}}</div>
      </div>
      <div class="mx-4">
        <div class="text-primary-orange text-2xl 2xl:text-4xl font-bold leading">{{ counts.comments }}</div>
        <div class="leading-none uppercase text-xl text-secondary-gray 2xl:text-2xl font-semibold">{{ 'comment' | pluralize(counts.comments)}}</div>
      </div>
      <div class="mx-4">
        <div class="text-primary-orange text-2xl 2xl:text-4xl font-bold leading">{{ counts.makers }}</div>
        <div class="leading-none uppercase text-xl text-secondary-gray 2xl:text-2xl font-semibold">{{ 'maker' | pluralize(counts.makers)}}</div>
      </div>
    </div>
    <ul class="sm:flex flex-wrap items-center justify-center relative">
      <li :key="`post-${post.id  || Math.floor(Math.random() * 10000) }`" v-for="post in posts">
        <a :href="post.url">
          <post-card class="post-card" v-bind="post"></post-card>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import PostCard from './Card'
export default {
  name: 'PostsIndex',
  methods:{
    visit(e){
      let date = e.currentTarget.value
      if(date)
        this.$router.push({path: `/archive/${date}`})
      else
        this.$router.push({path: '/'})
    },
    formattedDateAgo(daysAgo){
      return this.$options.filters.formattedDateAgo(daysAgo);

    },
    dateIsActive(daysAgo){
      return this.formattedDateAgo(daysAgo) == this.$route.params.date
    }
  },
  computed: {
    ...mapState(['posts', 'counts']),
    counts(){
      let counts = 
        this.posts.reduce((m, e) => {
          return {

            votes: m.votes + e.votesCount,
            comments: m.votes + e.commentsCount,
            makers: m.makers + ( e.makers || []).length
          }
        }, {votes: 0, comments: 0, makers: 0})
      counts.posts = this.posts.length
      return counts
    }
  },
  filters:{
    formattedDateAgo(daysAgo = 0){
      let d = new Date();
      d.setDate(d.getDate() - daysAgo);
      return d.toISOString().split('T')[0];
    }
  },
  components:{ PostCard }
}
</script>
<style scoped>
  option{
    padding: 0.75rem;
  }
  .post-card{
    width:100%;
    overflow: hidden;
  }
  @media screen and (min-width: 500px) {
    .post-card{
      width:500px;
      height:500px
    }  
  }
  
</style>