<template>
  <div id="app" class="container 2xl:w-full mx-auto text-center">
    <h1><router-link :to="{ name: 'Home' }"  class="font-bold block  font-sans text-3xl 2xl:text-6xl mt-10 text-primary-orange">ProductHunt</router-link></h1>
    <h2 class="text-xl 2xl:text-3xl font-semibold text-secondary-gray">The best new products, every day</h2>


    <router-view :key="$route.path"/>
  </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
  name: 'App',
  data(){
    return {
      'loading': false
    }
  },
  mounted(){
    this.refreshPosts();
  },
  watch:{
    '$route.params.date': function(){
      this.refreshPosts();
    }
  },
  methods:{
    refreshPosts(){
      this.$store.dispatch('clearPosts')
      this.$store.dispatch('loadPostsAtDate', this.$route.params.date)
    }
  }
}
</script>
<style>
  html{
    background-color: #F3F3F3;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  }
  h1 a{
    text-decoration: none;
  }
  #loading{
    position: absolute;
    top: 0;
    left: 0;
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

  }
</style>
